@model IEnumerable<hospital_project.Models.DepartmentDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<a href="/Department/New">New Department</a>
@foreach (var Department in Model)
{
    <h2><a href="/Department/Details/@Department.department_id">@Department.department_name</a></h2>
}
