@model IEnumerable<hospital_project.Models.DepartmentDto>
@{
    ViewBag.Title = "Add New Department";
}
<div>
    <h2>Add New Physician</h2>
    <nav>
        <h5>| <a href="/Department/List"><b>Cancel Adding & Return</b> to Department Directory</a> |</h5>
    </nav>
</div>

<form action="/Department/Create" method="POST">
    <div>
        <label><b>Department Name:</b></label> <input type="text" name="department_name" />
    </div>
        <input type="submit" value="Add New Department" />
    </div>
</form>