@model IEnumerable<hospital_project.Models.PhysicianDto>
@{
    ViewBag.Title = "";
}
<div>
    <h2>Physician Directory</h2>
    <nav>
        <h5>| <a href="/Physician/New"><b>Add</b> New Physician</a> |</h5>
    </nav>
</div>

@foreach (var physician in Model)
{
    <h2><a href="/Physician/Details/@physician.physician_id"><b>@physician.first_name @physician.last_name</b></a></h2>
    <div><b>E-mail Address: </b>@physician.email</div>
    <div><b>Department: </b>@physician.Departments</div>
}
