@model IEnumerable<hospital_project.Models.PhysicianDto>
@{
    ViewBag.Title = "Add New Physician";
}
<div>
    <h2>Add New Physician</h2>
    <nav>
        <h5>| <a href="/Physician/List"><b>Cancel Adding & Return</b> to Physician Directory</a> |</h5>
    </nav>
</div>

<form action="/Physician/Create" method="POST">
    <div>
        <label><b>First Name:</b></label> <input type="text" name="first_name" />
    </div>
    <div>
        <label><b>Last Name:</b></label> <input type="text" name="last_name" />
    </div>
    <div>
        <label><b>E-mail:</b></label> <input type="text" name="email" />
    </div>
    <div>
        <input type="submit" value="Add Anime" />
    </div>
</form>