@model hospital_project.Models.LabDto
@{
    ViewBag.Title = "DeleteConfirm";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabName)
        </dd>

    </dl>

    <form action="/Lab/Delete/@Model.LabId" method="POST">
        <input type="submit" value="Confirm Delete" />
    </form>

    <p>
        @Html.ActionLink("Back to List", "/List")
    </p>   
</div>
