@model hospital_project.Models.ViewModels.UpdateLab
@{
    ViewBag.Title = "Edit";
}

<h2>Update Lab</h2>

<form action="/Lab/Update/@Model.SelectedLab.LabId" method="POST">
    <div style="display:none;">

        <input type="text" name="LabId" value="@Model.SelectedLab.LabId" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="LabName" value="@Model.SelectedLab.LabName" />
    </div>


    <div>
        <input type="submit" value="Update Lab" />

    </div>
</form>

<p>
    @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.SelectedLab.LabId }) |
    @Html.ActionLink("Back to List", "/List")
</p>