@model IEnumerable<hospital_project.Models.DonationDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Philantropist</h2>
<form action="/Philantropist/Create" method="POST">
    <div>
        <label>First Name:</label>
        <input type="text" name="PhilantropistFirstName" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="PhilantropistLastName" />
    </div>
    <div>
        <label>Company:</label>
        <input type="text" name="Company" />
    </div>
    

    <div>
        <label>Donation Tier:</label>
        <select name="DonationID">
            @foreach (var donation in Model)
            {
                <option value="@donation.DonationID">@donation.DonationLevel</option>
            }
        </select>

    </div>
    <div>
        <input type="submit" value="Add Philantropist" />
    </div>
</form>
